@import 'variables';
@import 'base';

header {
  float: left;
  margin-top: -75px;
  width: 100%;
  text-align: center;
  margin-bottom: @base-margin;
}

img {
  .image-size();
  border-radius: 50%;
}

h3 {
  color: @primary-color;
  padding-bottom: @base-padding;
  paddding-top: @base-padding;
}

section {
  margin-bottom: 20px;
}

.container {
  margin-left: 50px;
  margin-right: 50px;
}

h4 {
  font-size: @base-font-size*1.5;
  margin-right: @base-margin*2;
  margin-top: 2px;
  margin-bottom: @base-padding;
}

li {
  display: flex;
  margin-right: 20px;
  width: 100%;
  margin-bottom: @base-margin;
}

div.education {
  background-color: @gray;
  width: 100%;
  padding-bottom: @base-padding;
}
